---
import PageLayout from "../../layouts/PageLayout.astro";


---
<div>
    <PageLayout></PageLayout>
    <div class="pt-20 mb-16">
        <div class="relative flex flex-row">
            <div class="w-1/2 h-96">
                <img src="/src/images/Contact.jpg" alt="Bottom View of a High-Rise Building" class="h-full w-full object-cover">
            </div>
            <div class="absolute flex flex-row w-full">
                <div class="h-96 w-1/2 bg-gradient-to-l from-zinc-950 to-zinc-950/20 flex flex-row justify-end">
                </div>
                <div class="w-1/2 flex flex-col items-center pt-10">
                    <div>
                        <p class="font-bold text-2xl">Contact Us</p>
                    </div>
                    <div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- <div class="relative">
        <div class="absolute transform -scale-x-100 w-full h-96">
            <img alt="Closed-up hand holding phone" src="src/images/hero.jpg" class="object-cover h-full w-full" />
        </div>
        <div class="absolute h-96 w-full bg-gradient-t-r from-zinc-950 to-zinc-950/0 pt-32 pl-20 flex items-center">
            <span class="max-w-lg text-3xl font-bold">Empowering Businesses to Succeed with Advanced IT Solutions.</span>
        </div>
    </div> -->

</div>