---
import PageLayout from "../layouts/PageLayout.astro";
import Mission from "../components/Mission.astro";
import CallToAction from "../components/CallToAction.astro";
---
<PageLayout></PageLayout>
<div>
    <section>
        <div class="flex-col mt-2 flex items-center w-full">
            <div class="flex justify-center relative mt-16 pt-20 text-3xl font-bold">
                <span>About Us</span>
            </div>
            <img src="/src/images/Logo.png" alt="Logo Background" class="absolute opacity-20 max-w-3xl">
            <img src="/src/images/LogoWhite.svg" alt="Elysseum Logo" class="fixed relative max-w-2xl -translate-y-14"/>
        </div>
    </section>
    <section>
        <div class="flex justify-center text-center w-full -translate-y-12">
            <span class="max-w-4xl px-32">Founded on April 26, 2023, Elysseum is a leading provider of cutting-edge IT solutions and consulting services. With solid commitment to excellence, we empower businesses to thrive in the digital age by leveraging technology to its fullest potential.</span>
        </div>
    </section>
    <section class="my-20 flex flex-col items-center">
        <Mission></Mission>
    </section>
    <section class="my-20">
        <div class="w-full flex justify-center">
            <span class="font-bold text-center text-2xl font-['Inter']">Our Values</span>
        </div>
    </section>
    <section>

    </section>
    <section class="mb-36">
        <CallToAction></CallToAction>
    </section>

</div>