---
import PageLayout from '../layouts/PageLayout.astro';
import ContactForm, { ContactFormProps } from '../components/ContactFormProps';
import Button from '@/components/ui/button';


const contacts: ContactFormProps[] = [
  {
    title: 'Name*:',
    placeholder: 'Name',
    type: 'input',
  },
  {
    title: 'Email:',
    placeholder: 'Email',
    type: 'input',
  },
  {
    title: 'Phone*:',
    placeholder: 'Phone',
    type: 'input',
  },
  {
    title: 'Company:',
    placeholder: 'Company Name',
    type: 'input',
  },
  {
    title: 'Message:',
    placeholder: 'Message',
    type: 'textarea',
  },
];
//   {
//     title: 'Name*:',
//     placeholder: 'Name',
//     type: 'input',
//   },
//   {
//     title: 'Email:',
//     placeholder: 'Email',
//     type: 'input',
//   },
//   {
//     title: 'Phone*:',
//     placeholder: 'Phone',
//     type: 'input',
//   },
//   {
//     title: 'Company:',
//     placeholder: 'Company Name',
//     type: 'input',
//   },
//   {
//     title: 'Message:',
//     placeholder: 'Message',
//     type: 'textarea',
//   },
// ];
---

<div>
  <PageLayout>
    <div class='pt-4 flex flex-row'>
      <div
        class='-translate-y-20 -mb-20 w-full relative h-[850px] lg:h-[700px] overflow-hidden bg-cover'
        style="background-image:url('/src/images/Contact.jpg');"
      >
        <div
          class='absolute w-full inset-0 bg-gradient-to-l from-black from-2%'
        >
        </div>
      </div>
      <div class='h-full w-3/4 mr-24 flex flex-row justify-end'>
        <div class='flex flex-col pt-10 w-full'>
          <p class='lg:ml-20 font-bold text-3xl text-center pb-[60px]'>
            Contact Us
          </p>
          <div class='flex flex-col gap-4 w-full'>
            {
              contacts.map(({ title, placeholder, type }) => (
                <ContactForm
                  title={title}
                  placeholder={placeholder}
                  type={type}
                />
              ))
            }
          </div>
          <div class='lg:ml-20 pt-10 justify-center flex'>
            <Button type='submit' variant='default'>Contact Us</Button>
          </div>
        </div>
      </div>
    </div>
  </PageLayout>
</div>

