---
import PageLayout from "../layouts/PageLayout.astro";
import ContactForm, {ContactFormProps} from "../components/ContactFormProps";
import Button from "@/components/ui/button"

const contacts: ContactFormProps[] = [
    {
        title: "Name*:",
        placeholder: "Name",
        type: "input"
    },
    {
        title: "Email:",
        placeholder: "Email",
        type: "input"
    },
    {
        title: "Phone*:",
        placeholder: "Phone",
        type: "input"
    },
    {
        title: "Company:",
        placeholder: "Company Name",
        type: "input"
    },
    {
        title: "Message:",
        placeholder: "Message",
        type: "textarea"

    }
]
---

<div>
    <PageLayout>
        <div class="pt-4">
            <div class="relative flex flex-row">
                <div class="w-1/2 lg:h-[600px] h-[750px] relative overflow-hidden">
                    <img src="/src/images/Contact.jpg" alt="Bottom View of a High-Rise Building"
                         class="h-full w-full object-cover">
                    <div class="absolute inset-0 bg-gradient-to-l from-black from-2%"/>
                </div>
                <div class="absolute flex flex-row w-full justify-end">
                    <div class="h-[1015px] w-[864px] mr-16 lg:mr-24 lg:w-4/5 flex flex-row justify-end">
                        <div class="w-1/2 flex flex-col pt-10">
                            <div>
                                <p class="lg:ml-20 font-bold text-3xl text-center pb-[60px]">Contact Us</p>
                            </div>
                            <div class="flex flex-col gap-4">
                                {contacts.map(({title, placeholder, type}) =>
                                        <ContactForm title={title} placeholder={placeholder} type={type}/>)}
                            </div>
                            <div class="lg:ml-20 pt-10 justify-center flex">
                                <Button type="submit" variant="default">Contact Us</Button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </PageLayout>

</div>