---
import PageLayout from '../layouts/PageLayout.astro';
import Services from '../components/Services';
---

<PageLayout>
  <div class='flex flex-col'>
    <div class='-mt-16 h-[600px] -z-10'>
      <div
        class='h-full relative'
        style='background-image:url("/src/images/Services.svg")'
      >
        <div class='absolute z-10 bg-black h-full w-full opacity-50'></div>
        <div
          class='absolute z-20 w-full inset-0 bg-gradient-to-t from-black from-2%'
        >
          <div class="w-full flex justify-center z-10 h-full backdrop-blur-3xl">
            <div
              class='absolute px-24 w-full top-56 mx-auto space-y-8 xl:space-y-0 z-50 flex flex-col xl:flex-row'
            >
              <h1
                class='font-bold text-3xl xl:text-6xl xl:flex xl:px-24 text-center xl:w-1/2'
              >
                Our Services
              </h1>
              <p
                class='font-medium text-xl max-w-xl text-center mx-auto xl:flex xl:items-center xl:text-start xl:max-w-5xl xl:w-full xl:text-3xl'
              >
                Here at Elysseum, we offer comprehensive services to help
                businesses, from startups to large corporations, leverage
                technology to achieve their goals and overcome challenges.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Services client:load />
  </div>
</PageLayout>
