---

---
<div class="items-center flex flex-col w-full">
    <div class="mx-20 rounded-xl bg-zinc-800/40 flex flex-col items-center py-16">
        <div>
            <img src="/src/images/Call-to-action.jpg" alt="Computer Lab Image" class="rounded-xl max-w-md">
        </div>
        <div class="px-16 py-10 gap-y-6 flex flex-col max-w-xl">
            <p class="font-bold text-3xl">Get in Touch</p>
            <span class="text-justify">Whether you are a small startup or an established enterprise, Elysseum supports your digital transformation journey. partner with us to unlock technology's full potential and achieve sustainable growth in today's dynamic business landscape.</span>
        </div>
        <div class="flex flex-row justify-center">
            <button>Contact Us</button>
        </div>
    </div>
</div>