---
import Button from '@/components/ui/button'
---
<div class="px-24 flex flex-col items-center my-12">
    <div class="bg-[#292929] px-12 py-16 rounded-xl mt-12">
        <div>
            <img src="/src/images/Call-to-action.jpg" alt="Computer Lab Image" class="rounded-xl max-w-xl">
        </div>
        <div class="px-10 py-10 gap-y-6 flex flex-col max-w-xl">
            <p class="font-bold text-3xl">Get in Touch</p>
            <span class="text-justify">Whether you are a small startup or an established enterprise, Elysseum supports your digital transformation journey. partner with us to unlock technology's full potential and achieve sustainable growth in today's dynamic business landscape.</span>
        </div>
        <div class="flex flex-row justify-center">
            <Button>Contact Us</Button>
        </div>
    </div>
</div>