---
import Input from "@/components/ui/input"
import Textarea from "@/components/ui/textarea"


const {title, placeholder, type} = Astro.props;
---

<div class="gap-4 flex flex-col lg:flex-row lg:my-1">
    <p class="w-1/4 text-base font-medium text-[#E6E6E6] text-left lg:text-xl">{title}</p>
    {(() => {
        switch (type) {
            case "input":
                return <Input type="text" placeholder={placeholder}/>
            case "textarea":
                return <Textarea rows="4" placeholder={placeholder}/>
            default:
                return null;
        }
    })()}
</div>


