---
import Input from "@/components/ui/input"
import Textarea from "@/components/ui/textarea"


const {title, placeholder, type} = Astro.props;
---

<div class="gap-4 flex flex-col">
    <p class="text-base font-medium text-[#E6E6E6] text-left">{title}</p>
    {(() => {
        switch (type) {
            case "input":
                return <Input type="text" placeholder={placeholder}/>
            case "textarea":
                return <Textarea rows="4" placeholder={placeholder}/>
            default:
                return null;
        }
    })()}
</div>


