---
import Input from "@/components/ui/input"


const {title} = Astro.props;
---

<div class="gap-4 flex flex-col">
    <p class="text-2xl font-semibold text-[#E6E6E6] text-left">{title}</p>
    <Input type="text" placeholder=""/>
</div>


