---
---
<footer class="flex flex-row items-center justify-center w-full font-medium text-white text-center py-10">
    <span class="flex">
    Copyright &copy;
    </span>
    <span id="copyright" class="flex">
        <script>
            document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear().toString()))
        </script>
    </span>
    <span class="flex">
    &nbsp;Elysseum
    </span>
</footer>