---
---
<div class="w-full bottom-0 text-center py-4 text-xs fixed z-10">
    Copyright &copy;
        <span id="copyright">
        <script type="text/javascript">
            document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
        </script>
    </span>
    &nbsp;Elysseum
</div>