---

---

<div class='h-[400px]'>
  <div
    class='h-full relative bg-cover'
    style="background-image:url('/src/images/hero.jpg')"
  >
    <div class='absolute z-10 bg-black h-full w-full opacity-50'></div>
    <div
      class='absolute z-20 w-full inset-0 bg-gradient-to-t from-black from-2%'
    >
    <div class="w-full flex justify-center lg:justify-start z-10 h-full backdrop-blur-xl">
      <h1
        class='mx-24 items-end pb-16 pr-0 md:pr-10 leading-tight w-full text-3xl sm:text-4xl md:text-5xl flex justify-center font-bold text-center md:text-left xl:px-12 xl:w-2/3 xl:text-6xl'
        >Empowering Businesses to Succeed with Advanced IT Solutions.</h1
      >
      </div>
    </div>
  </div>
</div>

