---

---
<div class="relative">
    <div class="absolute transform -scale-x-100 w-full sm:h-[400px] lg:h-[450px]">
        <img alt="Closed-up hand holding phone" src="src/images/hero.jpg" class="object-cover h-full w-full" />
    </div>
    <div class="absolute h-[400px] w-full bg-gradient-to-r from-black to-blue-950/20 pt-24 pl-14 flex items-center">
        <span class="mx-10 pr-10 w-full leading-tught text-5xl flex justify-center font-bold">Empowering Businesses to Succeed with Advanced IT Solutions.</span>
    </div>
</div>