---

---
<div class="relative -z-100">
    <div class="w-full bg-cover h-[450px]">
        <img alt="Closed-up hand holding phone" src="src/images/hero.jpg" class="relative object-cover h-full w-full" />
    </div>
    <div class="z-10 absolute top-0 h-full w-full bg-gradient-to-r from-black to-blue-950/20 pt-24 pl-14 flex items-center">
        <span class="mx-10 pr-10 w-full leading-tight text-5xl flex justify-center font-bold xl:px-12 xl:w-2/3 xl:text-6xl">Empowering Businesses to Succeed with Advanced IT Solutions.</span>
    </div>
</div>