---

---
<div class="relative">
    <div class="absolute transform -scale-x-100 w-full h-96">
        <img alt="Closed-up hand holding phone" src="src/images/hero.jpg" class="object-cover h-full w-full" />
    </div>
    <div class="absolute h-96 w-full bg-gradient-to-r from-zinc-950 to-blue-950/20 pt-24 pl-20 flex items-center">
        <span class="max-w-md text-4xl font-bold">Empowering Businesses to Succeed with Advanced IT Solutions.</span>
    </div>
</div>