---

---
<div class="relative flex items-center mb-20">
    <div class="w-full h-48">
        <img src="/src/images/Home-CallToAction.jpg" alt="Businessman's Finger Pointing at Virtual Icons"
             class="object-cover w-full h-full">
    </div>
    <div class="absolute flex flex-col justify-center items-center bg-zinc-950/70  h-48 w-full  px-24 gap-y-4">
        <span class="text-2xl max-w-lg text-center">Learn more about how we can help your business thrive in the digital age.</span>
        <button class="text-sm">Contact Us</button>
    </div>
</div>