---
import Button from "@/components/ui/button"
---
<div class="relative flex items-center mb-20">
    <div class="absolute w-full h-48">
        <img src="/src/images/Home-CallToAction.jpg" alt="Businessman's Finger Pointing at Virtual Icons" class="object-cover w-full h-full">
    </div>
    <div class="absolute flex flex-col justify-center items-center h-48 w-full bg-zinc-950/70 px-24 gap-y-4">
        <span class="text-2xl max-w-lg text-center">Learn more about how we can help your business thrive in the digital age.</span>
        <Button class="text-sm">Contact Us</Button>
    </div>
</div>