---
import Button from '../components/ui/button';
---

<div class='h-96'>
  <div
    class='w-full bg-cover h-full relative'
    style="background-image:url('/src/images/Home-CallToAction.jpg')"
  >
    <!-- <div class='absolute z-10 bg-black h-full w-full'></div> -->
    <div
      class='absolute z-20 w-full inset-0 bg-gradient-to-t from-black from-1%'
    >
      <div class='w-full flex justify-center z-10 h-full backdrop-blur-xl bg-gradient-to-b from-black from-1%'>
        <div
          class='absolute flex flex-col justify-center items-center h-full w-full px-10 sm:px-24 gap-y-10'
        >
          <span
            class='leading-20 font-sans text-2xl sm:text-3xl lg:text-4xl xl:text-5xl max-w-6xl font-bold text-center'
            >Learn more about how we can help your business thrive in the
            digital age.</span
          >
          <div class='scale-75 sm:scale-90 md:scale-100'>
            <a href='/contact'><Button>Contact Us</Button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
