---

---

<div class="my-10 bg-black h-96 max-h-4xl w-full flex flex-col justify-center items-center bg">
  <div class="w-full px-16 pt-4">
    <iframe
      src='https://www.google.com/maps/embed?api=1&origin=Space+Needle+Seattle+WA&destination=Pike+Place+Market+Seattle+WA&travelmode=bicycling'
      style='border:0;'
      allowfullscreen=''
      loading='lazy'
      class="w-full h-44"></iframe>
  </div>
  <div class="text-white text-center mt-10 flex flex-col gap-y-1">
    <p class="font-bold text-xl">Elysseum</p>
    <p class="w-60 text-sm">5480 7th Ave, San Francisco, CA 941122</p>
  </div>
</div>
