---

---
<div class="flex flex-col gap-y-24 my-20 xl:flex-row xl:px-36">
    <div class="flex flex-row justify-center gap-x-2 max-w-4xl xl:flex-row-reverse xl:gap-x-0 ">
        <div class="ml-24 group xl:mr-24 bg-purple-200">
            <div class="w-56 h-72 rounded-xl absolute border-white border-4 group-hover:scale-110 transition duration-500"></div>
            <div class="absolute">
                <img src="/src/images/Mission.jpg" alt="Modern Equipped Computer Lab" class="rounded-xl object-cover w-56 h-72 translate-x-6 translate-y-6 group-hover:scale-110 transition duration-500 xl:-translate-x-6">
            </div>
        </div>
        <div class="flex justify-end xl:justify-start">
            <div class="flex flex-col w-3/5 gap-y-4 xl:text-right xl:w-4/5">
                <div>
                    <span class="text-2xl font-bold xl:text-3xl">Our Mission</span>
                </div>
                <div>
                    <span class="text-lg xl:text-xl">At Elysseum, our mission is to deliver innovative and strategic IT solutions that drive business growth, enhance operational efficiency, and enable our clients to stay ahead of the competition. We strive to be a trusted partner, providing expert guidance and support to help businesses navigate the complex world of technology.</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="flex flex-row gap-x-2 max-w-4xl">
        <div class="flex justify-start px-24 w-3/5">
            <div class="flex flex-col gap-y-4 text-end">
                <div>
                    <span class="text-2xl font-bold">Our Expertise</span>
                </div>
                <div>
                    <span class="text-lg">With a team of highly skilled IT consultants and engineers, we bring a wealth of knowledge and experience across a wide range of industries. We specialize in IT strategy and planning, digital transformation, cybersecurity, infrastructure design and implementation, IT project management, and ongoing support and maintenance.</span>
                </div>
            </div>
        </div>
        <div class="mr-24 group">
            <div class="w-56 h-72 rounded-xl absolute border-white border-4 group-hover:scale-110 transition duration-500"></div>
            <div class="absolute">
                <img src="/src/images/Expertise.jpg" alt="Modern Equipped Computer Lab" class="rounded-xl object-cover w-56 h-72 -translate-x-6 translate-y-6 group-hover:scale-110 transition duration-500">
            </div>
        </div>
    </div>
</div>