---

---
<div class="flex flex-row justify-center gap-x-4">
    <div class="ml-24">
        <div class="w-80 h-96 rounded-xl absolute border-white border-4"></div>
        <div class="absolute">
            <img src="/src/images/Mission.jpg" alt="Modern Equipped Computer Lab" class="rounded-xl object-cover w-80 h-96 translate-x-6 translate-y-6">
        </div>
    </div>
    <div class="flex justify-end px-24 py-10">
        <div class="flex flex-col w-2/5 gap-y-4">
            <div>
                <span class="text-2xl font-bold">Our Mission</span>
            </div>
            <div>
                <span>At Elysseum, our mission is to deliver innovative and strategic IT solutions that drive business growth, enhance operational efficiency, and enable our clients to stay ahead of the competition. We strive to be a trusted partner, providing expert guidance and support to help businesses navigate the complex world of technology.</span>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-row justify-center py-24">
    <div class="flex justify-start px-24 py-10">
        <div class="flex flex-col w-4/12 gap-y-4 text-right">
            <div>
                <span class="text-2xl font-bold">Our Expertise</span>
            </div>
            <div>
                <span>With a team of highly skilled IT consultants and engineers, we bring a wealth of knowledge and experience across a wide range of industries. We specialize in IT strategy and planning, digital transformation, cybersecurity, infrastructure design and implementation, IT project management, and ongoing support and maintenance.</span>
            </div>
        </div>
    </div>
    <div class="right-0 pr-24 absolute">
        <div class="absolute w-80 h-96 rounded-xl border-white border-4"></div>
        <div>
            <img src="/src/images/Expertise.jpg" alt="Modern Equipped Computer Lab" class="rounded-xl object-cover w-80 h-96 -translate-x-6 translate-y-6">
        </div>
    </div>
</div>