---
---

<nav class="px-24 flex flex-row pt-3.5 w-full items-center justify-between z-100">
    <div class="flex flex-row justify-center items-center lg:scale-110">
        <img src="/src/images/Logo.png" alt="Elysseum Logo" class="h-12 flex flex-row justify-center"/>
        <div class="pl-5 text-2xl font-extrabold">
            <span class="h-10 flex flex-row items-center justify-center">Elysseum</span>
        </div>
    </div>
    <div class="text-sm lg:text-lg justify-end flex flex-row gap-x-8 content-center w-4/6 ">
        <a href="/" class="group relative">
            <span>Home</span>
            <span class="absolute -bottom-1 left-1/2 w-0 h-1/6 bg-purple-700 group-hover:w-1/2 group-hover:transition-all duration-700 ease-in-out"></span>
            <span class="absolute -bottom-1 right-1/2 w-0 h-1/6 bg-purple-700 group-hover:w-1/2 group-hover:transition-all duration-700 ease-in-out"></span>
        </a>
        <a href="/aboutUs/" class="group relative">
            <span>About Us</span>
            <span class="absolute -bottom-1 left-1/2 w-0 h-1/6 bg-purple-700 group-hover:w-1/2 group-hover:transition-all duration-700 ease-in-out"></span>
            <span class="absolute -bottom-1 right-1/2 w-0 h-1/6 bg-purple-700 group-hover:w-1/2 group-hover:transition-all duration-700 ease-in-out"></span>
        </a>
        <a href="/service/" class="group relative">
            <span>Services</span>
            <span class="absolute -bottom-1 left-1/2 w-0 h-1/6 bg-purple-700 group-hover:w-1/2 group-hover:transition-all duration-700 ease-in-out"></span>
            <span class="absolute -bottom-1 right-1/2 w-0 h-1/6 bg-purple-700 group-hover:w-1/2 group-hover:transition-all duration-700 ease-in-out"></span>
        </a>
        <a href="/contact/" class="group relative">
            <span>Contact Us</span>
            <span class="absolute -bottom-1 left-1/2 w-0 h-1/6 bg-purple-700 group-hover:w-1/2 group-hover:transition-all duration-700 ease-in-out"></span>
            <span class="absolute -bottom-1 right-1/2 w-0 h-1/6 bg-purple-700 group-hover:w-1/2 group-hover:transition-all duration-700 ease-in-out"></span>
        </a>
    </div>
</nav>
