---

---
<div class="flex flex-col items-center py-6">
    <div class="flex flex-row py-6">
        <div class="flex flex-col text-center gap-y-4 justify-center max-w-xs pr-10">
            <div>
                <p class="font-bold">Client-Centric Approach</p>
            </div>
            <div>
                <span>We believe in building solid and long-lasting partnerships with our clients.</span>
            </div>
        </div>
        <div class="max-w-96 h-48">
            <img src="/src/images/ClientCentric.svg" alt="Young Couple Talking About Plans" class="rounded-xl object-cover w-full h-full">
        </div>
    </div>
    <div class="flex flex-row py-6">
        <div class="max-w-96 h-48">
            <img src="/src/images/Innovation.svg" alt="Businessman Pointing Pen to Virtual AI Icon" class="rounded-xl object-cover w-full h-full">
        </div>
        <div class="flex flex-col text-center gap-y-4 justify-center max-w-xs pl-10">
            <div>
                <p class="font-bold">Innovation & Continuous Learning</p>
            </div>
            <div>
                <span>We are passionate about exploring emerging technologies, industry trends, and best practices.</span>
            </div>
        </div>
    </div>
    <div class="flex flex-row py-6">
        <div class="flex flex-col text-center gap-y-4 justify-center max-w-xs pr-10">
            <div>
                <p class="font-bold">Commitment to Quality & Security</p>
            </div>
            <div>
                <span>We are committed to delivering the highest quality and security in everything we do.</span>
            </div>
        </div>
        <div class="max-w-96 h-48">
            <img src="/src/images/Security.svg" alt="Two Businessmen Shaking Hands" class="rounded-xl object-cover w-full h-full">
        </div>
    </div>
    <div class="flex flex-row py-6">
        <div class="max-w-96 h-48">
            <img src="/src/images/CustomerService.svg" alt="Young Staff Smiling" class="rounded-xl object-cover w-full h-full">
        </div>
        <div class="flex flex-col text-center gap-y-4 justify-center max-w-xs pl-10">
            <div>
                <p class="font-bold">Exceptional Customer Service</p>
            </div>
            <div>
                <span>We value open and transparent communication.</span>
            </div>
        </div>
    </div>

</div>